* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #f4f4f4;
    color: #00FFFF;
    line-height: 1.6;
    font-size:1.75em;
}

.container {
    max-width: 100%;
    margin: 10px auto;
    padding: 10px;
    background: url('backg.png') no-repeat center center;
    background-size: cover;
    min-height: 100vh;
    position: relative;
}

.container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

header, main {
    position: relative;
    z-index: 2;
}

header {
    text-align: center;
    margin-bottom: 20px;
    color: #f0f0f0;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
    background-color: #001F3F;
    border: 1px solid #FFFFE0;
    border-radius: 10px;
    padding: 20px;
}

header h1 {
    font-size: 3em;
}

header h2 {
    font-size: 1.75em;
}

h3 {
    padding-top: 20px;
    font-size: 1.75em;
    text-align: center;
    margin-top: 20px;
    color: turquoise;
}

h4 {
    font-size: 1.75em;
    color: #a95eef;
}

.calculator-list {
    list-style: none;
    padding: 20px;
    color: #fff;
}

.calculator-list li {
    margin-bottom: 10px;
}

.calculator-list a {
    font-size: 1.75em;
    color: #ffcc00;
    text-decoration: none;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
}

.calculator-list a:hover {
    color: #ff9900;
}

.calculator-list p {
    margin: 5px 0 15px 20px;
    color: #ddd;
    font-size: 1.75em;
}

.calculator-section {
    display: none;
    margin-top: 20px;
    background: rgba(255, 255, 255, 0.7);
    padding: 30px;
    border-radius: 10px;
    line-height: 1.6;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Added box shadow for depth */
}

.calculator-section h2 {
    font-size: 2em;
    color: #8B008B;
}

.calculator-section label {
    display: block;
    margin: 10px 0 5px;
    padding: 5px; /* Added padding for better spacing */
    color: #333;
    font-size: 1.75em;
    font-weight: bold; /* Bold text for emphasis */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    transition: color 0.3s ease; /* Smooth color transition */
}

.calculator-section label:hover {
    color: #007bff; /* Change color on hover for better UX */
}

.calculator-section input {
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
    font-size: 1.75em;
    transition: border-color 0.3s ease;
}

.calculator-section button {
    display: block;
    width: 100%; /* Full-width button for better accessibility */
    padding: 15px;
    background-color: #4f1784;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.75em;
    transition: background-color 0.3s ease; /* Smooth background color transition */
}

.calculator-section button:hover {
    background-color: #8356af;
}

.calculator-section p {
        margin-top: 20px;
        font-size: 1.75em;
        color:#333333;
        font-weight: bold; /* Make the text bold */
        background-color: #B0E0E6; /* Add a light background color */
        padding: 10px; /* Add some padding for better readability */
        border-radius: 5px; /* Add rounded corners */
    }
    
.radio-group {
    margin: 10px 0;
    font-size: 1.75em;
}

.radio-group input[type="radio"] {
    margin-right: 10px;
    height: 1.5em;
    width: 1.5em;
}

.calculator-section select {
    font-size: 1.75em;
    padding: 8px;
    width: 100%;
}

.calculator-columns {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.calculator-column {
    padding-top: 20px;
    width: calc(20% - 20px);
    margin-bottom: 20px;
}
.calculator-section select {
    font-size: 1.75em;
    padding: 8px;
    width: 100%;
    border: 2px solid #ccc; /* Added border */
    border-radius: 10px; /* Border radius for rounded edges */
    margin-bottom: 20px; /* Margin below select element */
}
